@model SensorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Define o layout compartilhado da página
}

@if (ViewBag.Operacao == "A")
{
    <h2>Alteração de Sensor</h2>
}
else
{
    <h2>Inclusão de Sensor</h2>
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/estilos.css" /> <!-- Estilo da página -->
    <title>Cadastro da Sensor</title> <!-- Título da página -->
</head>

<body>
    <main class="container">
        <section>
            <form asp-action="Save" method="post">
                <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

                @if (ViewBag.Operacao == "A")
                {
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label">Código</label>
                            <input asp-for="id" class="form-control" readonly />
                            <span asp-validation-for="id" class="text-danger"></span>
                        </div>
                    </fieldset>
                }

                <fieldset>
                    <div class="form-group">
                        <label for="id" class="control-label">Código do Sensor</label>
                        @if (ViewBag.Operacao == "I")
                        {
                            <input type="number" name="Id" value="@Model.id" class="form-control" />
                        }
                        else
                        {
                            <input type="number" name="Id" value="@Model.id" class="form-control" readonly />
                        }
                        <span asp-validation-for="id" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="ds_tipo_sens" class="control-label">Descrição do Sensor</label>
                        <select asp-for="ds_tipo_sens" asp-items="ViewBag.Tipos" class="form-control"> </select>
                        <span asp-validation-for="ds_tipo_sens" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="dt_vend" class="control-label">Data de Venda</label>
                        <input type="date" id="dt_vend" name="dt_vend" value="@Model.dt_vend.ToString("yyyy-MM-dd")" class="form-control" />
                        <span asp-validation-for="dt_vend" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="vl_temp_alvo" class="control-label">Valor Alvo</label>
                        <input type="number" id="vl_temp_alvo" name="vl_temp_alvo" value="@Model.vl_temp_alvo" class="form-control" />
                        <span asp-validation-for="vl_temp_alvo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="cd_motor" class="control-label">Código do Motor</label>
                        <input type="number" id="cd_motor" name="cd_motor" value="@Model.cd_motor" class="form-control" />
                        <span asp-validation-for="cd_motor" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="id_func" class="control-label">Código do Usuário Associado</label>
                        <select asp-for="id_func" asp-items="ViewBag.funcionarios" class="form-control"></select>
                        <span asp-validation-for="id_func" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="id_empr" class="control-label">Código da Empresa</label>
                        <select asp-for="id_empr" asp-items="ViewBag.empresas" class="form-control"></select>
                        <span asp-validation-for="id_empr" class="text-danger"></span>
                    </div>
                </fieldset>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar Dados</button>
                </div>

                <div class="form-group">
                    <a href="/Sensor" class="btn btn-secondary">Página Inicial</a>
                </div>
            </form>
        </section>

        <footer>
            <a asp-action="Index" class="btn btn-link">Voltar para a listagem</a>
        </footer>
    </main>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>
