@model List<SensorViewModel> 
@{
    ViewData["Title"] = "Tela de Sensores";
}

<div class="container mt-4">
    <header class="text-center mb-5">
        <h1>@ViewData["Title"]</h1>
    </header>

    <!-- Botões de ação -->
    <div class="d-flex justify-content-between mb-4">
        <a href="/Sensor/create" class="btn btn-primary btn-lg">Novo Registro</a>
        <a href="/home" class="btn btn-light btn-lg">Página Inicial</a>
        <button class="btn btn-success btn-lg" onclick="extrairDados()">Extrair Dados</button>
    </div>

    <!-- Tabela de Sensores -->
    <section>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Ação</th>
                    <th>Código do Sensor</th>
                    <th>Descrição do Tipo de Sensor</th>
                    <th>Data da Venda</th>
                    <th>Valor da Temperatura Alvo Configurada</th>
                    <th>Código do Motor Associado ao Sensor</th>
                    <th>Código do Funcionário Associado ao Motor</th>
                    <th>Código da Empresa Associada ao Sensor</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var sensor in Model)
                    {
                        <tr>
                            <td>
                                <a href="/Sensor/Edit?id=@sensor.id" class="btn btn-warning btn-sm">Editar</a>
                                <a href="javascript:void(0);" onclick="apagarSensor(@sensor.id)" class="btn btn-danger btn-sm">Apagar</a>
                            </td>
                            <td>@sensor.id</td>
                            <td>@sensor.ds_tipo_sens</td>
                            <td>@sensor.dt_vend</td>
                            <td>@sensor.vl_temp_alvo</td>
                            <td>@sensor.cd_motor</td>
                            <td>@sensor.id_func</td>
                            <td>@sensor.id_empr</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center">Nenhum Sensor Cadastrado.</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>

<script>
    function apagarSensor(id) {
        if (confirm('Confirma a exclusão do registro?')) {
            location.href = 'Sensor/Delete?id=' + id;
        }
    }

    function extrairDados() {
        window.location.href = '@Url.Action("ExtrairDados", "Sensor")';
    }
</script>
