@model List<FuncionarioViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <main>
        <div>
            <h1>Funcionários</h1> <!-- Título principal da página -->
        </div>

        <div>
            <a href="/funcionario/create" class="btn btn-primary">Novo Registro</a> <!-- Botão para criar um novo registro -->
            <a href="/home" class="btn btn-light">Página Inicial</a> <!-- Botão para voltar à página inicial -->
            <button class="btn btn-success" onclick="extrairDados()">Extrair Dados</button> <!-- Botão para extrair dados -->
        </div>
        <br />

        <table class="table table-responsive">
            <!-- Tabela para exibir os funcionários -->
            <thead>
                <tr>
                    <th>Ação</th>
                    <th>Número do Usuário</th>
                    <th>Login do Usuário</th>
                    <th>Data de Cadastro do Usuário</th>
                    <th>Imagem Funcionário</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0) // Verifica se existem funcionários cadastrados
                {
                    foreach (var funcionario in Model) // Itera sobre a lista de funcionários
                    {
                        <tr>
                            <td>
                                <a href="/Funcionario/Edit?id=@funcionario.id" class="btn btn-warning">Editar</a> <!-- Botão para editar o funcionário -->
                                <a href="javascript:void(0);" onclick="apagarFuncionario(@funcionario.id)" class="btn btn-danger">Apagar</a> <!-- Botão para apagar o funcionário -->
                            </td>
                            <td>@funcionario.id</td> <!-- Número do usuário -->
                            <td>@funcionario.login_func</td> <!-- Login do usuário -->
                            <td>@funcionario.dt_cadr</td> <!-- Data de cadastro do usuário -->
                            <td>
                                <img id="imgPreview" src="data:image/jpeg;base64,@funcionario.ImagemEmBase64"class="img-responsive" width="50">
                            </td>
                        </tr>
                    }
                }
                else // Se não houver funcionários cadastrados
                {
                    <tr>
                        <td colspan="5" class="text-center">Nenhum Funcionário Cadastrado.</td> <!-- Mensagem informativa -->
                    </tr>
                }
            </tbody>
        </table>
        <script>
            function apagarFuncionario(id) {
                if (confirm('Confirma a exclusão do registro?'))
                    location.href = 'Funcionario/Delete?id=' + id;
            }

            function extrairDados() {
                window.location.href = '@Url.Action("ExtrairDados", "Funcionario")'; // Redireciona para a ação de extração de dados
            }
        </script>
    </main>
</body>
